<nav class="container-fluid fixed-top" style="backdrop-filter: blur(2px);">
        <header class="row">
                <!--Logo + Titre-->
                <article class="col-3">
                        <a class="logo-hover" href="{{ path('app_catalogue')}}">
                                <svg class="logo-color logo-hover" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 1000 1000" style="height: 80px; width: 80px; margin-right:7px">
                                        <g>
                                                <path class="st0" d="M496.97,159.08h-181.2v546.84h180.43c153.09,0,254.67-114.83,254.67-278.1
                                                C750.87,263.76,646.96,159.08,496.97,159.08z M489.96,666.83H357.94V198.15h132.02c151.54,0,215.6,111.73,215.6,232.02
                                                C705.55,565.29,634.45,666.83,489.96,666.83z"/>
                                                <path class="st0" d="M481.79,317.45l27.9-16.08c4.73-2.71,10.45-2.36,14.7,0.52c-15.56-38.18-38.65-69.09-67.97-92.17h-88.17
                                                C424.83,227.82,461.33,266.29,481.79,317.45z"/>
                                                <path class="st0" d="M511.63,567.31l-31.68-15.86c-21.88,49.95-59.58,86.45-113.58,103.86h84.35
                                                c28.59-22.4,51.67-51.63,68.18-86.58c-0.34,0.04-0.69,0.04-1.03,0.04C515.84,568.77,513.69,568.3,511.63,567.31z"/>
                                                <path class="st0" d="M113.24,159.12v546.79h180.47c3.53,0,7.05-0.04,10.49-0.17v-39.38c-5.46,0.34-11.05,0.47-16.72,0.47H155.45
                                                V198.15h132.02c5.72,0,11.26,0.13,16.72,0.47v-39.38c-3.22-0.09-6.45-0.13-9.72-0.13H113.24z"/>
                                                <path class="st0" d="M625.08,371.71l-61.3-35.34l-34.86-20.12l-3.31-1.89l-2.36-1.42c-0.13,0-0.13-0.04-0.26-0.13
                                                c-0.3-0.13-0.56-0.21-0.86-0.34c-0.21-0.09-0.47-0.13-0.69-0.26c-0.3-0.09-0.56-0.17-0.77-0.22c-0.34,0-0.56-0.09-0.82-0.09
                                                c-0.3-0.09-0.56-0.09-0.86-0.09c-0.26,0-0.47,0-0.77,0.09c-0.26,0-0.47,0.09-0.82,0.09c-0.21,0.04-0.52,0.13-0.86,0.22
                                                c-0.21,0.13-0.43,0.17-0.6,0.26c-0.39,0.13-0.64,0.21-0.95,0.34c-0.04,0.09-0.13,0.13-0.17,0.13l-12.68,7.27l-18.79,10.83
                                                l-72.52,41.87c-0.04,0.04-0.13,0.13-0.17,0.13c-0.3,0.13-0.52,0.34-0.77,0.56c-0.21,0.13-0.43,0.26-0.56,0.47
                                                c-0.21,0.22-0.43,0.43-0.56,0.56c-0.21,0.3-0.43,0.52-0.56,0.64c-0.17,0.26-0.3,0.47-0.43,0.69c-0.13,0.3-0.3,0.52-0.43,0.77
                                                c-0.04,0.22-0.22,0.47-0.22,0.69c-0.13,0.34-0.21,0.56-0.26,0.86c-0.09,0.26-0.09,0.47-0.13,0.77c-0.09,0.26-0.09,0.56-0.09,0.9
                                                v0.26l0.09,19.17l0.17,84.39v0.04l0.09,14.06c0,0.21,0.09,0.34,0.09,0.47c0.04,0.3,0.04,0.64,0.04,0.9
                                                c0.09,0.3,0.17,0.52,0.22,0.86c0.09,0.21,0.13,0.47,0.3,0.69c0.04,0.3,0.22,0.56,0.34,0.77c0.04,0.3,0.21,0.47,0.34,0.69
                                                c0.13,0.3,0.34,0.52,0.47,0.73c0.17,0.17,0.34,0.39,0.52,0.56c0.13,0.26,0.39,0.39,0.6,0.6c0.21,0.21,0.34,0.34,0.56,0.52
                                                c0.3,0.17,0.56,0.34,0.77,0.47c0.13,0.09,0.34,0.22,0.52,0.26l69.69,34.86l18.1,9.03l14.53,7.27c0.34,0.21,0.73,0.3,1.07,0.43
                                                c0.26,0.04,0.39,0.21,0.69,0.21c0.69,0.21,1.38,0.34,2.02,0.34c0.09,0,0.09,0,0.09,0c0.69,0,1.38-0.21,2.06-0.34
                                                c0.3-0.09,0.52-0.17,0.73-0.21c0.13-0.09,0.26-0.13,0.39-0.13c0.21-0.17,0.43-0.21,0.64-0.3l7.48-3.83l29.19-14.92l65.82-33.66
                                                c0.09-0.04,0.21-0.13,0.34-0.26c0.3-0.17,0.47-0.3,0.77-0.52c0.21-0.13,0.43-0.34,0.64-0.47c0.17-0.13,0.39-0.34,0.6-0.56
                                                c0.13-0.21,0.3-0.43,0.52-0.64c0.13-0.21,0.26-0.47,0.47-0.6c0.09-0.3,0.21-0.52,0.26-0.77c0.21-0.21,0.3-0.52,0.39-0.69
                                                c0.13-0.3,0.17-0.56,0.26-0.86c0.09-0.21,0.13-0.47,0.22-0.77c0-0.26,0-0.56,0.09-0.82c0-0.21,0.04-0.34,0.04-0.52l0.34-116.46
                                                v-0.13C629.72,376.82,628.09,373.47,625.08,371.71z M567.9,358.21l31.77,18.31l-11.48,5.33c-0.34-0.64-0.73-1.12-1.16-1.63
                                                l-18.66-18.79l-6.84-6.84L567.9,358.21z M492.45,361.56l16.38-16.55l9.72-9.76l19.09,19.22l28.98,29.28h-96.13L492.45,361.56z
                                                M474.4,355.8l-10.62,10.66l-14.87,14.96c-0.21,0.26-0.34,0.47-0.56,0.69l-6.49-3.01l-4.47-2.02L474.4,355.8z M423.54,389.68v-0.3
                                                l0.3,0.17l16.12,7.39l-16.21,54.12L423.54,389.68z M453.24,411.73l42.35,76.18l3.27,5.85l-4.17-0.43l-64.01-6.49L453.24,411.73z
                                                M509.48,535.41l-4.9-2.54l-17.45-8.73l-36.76-18.31l0.77,0.09l39.89,4.04l18.44,1.89V535.41z M517.95,493.41l-3.87-6.92l-15-27.04
                                                l-32.72-58.81h103.13l-24.33,43.81L517.95,493.41z M563.77,516.11l-33.96,17.32l-3.44,1.76v-23.34l9.72-0.99l29.36-3.01l17.93-1.81
                                                L563.77,516.11z M568.37,490.62l-28.59,2.88l-2.71,0.26l3.83-6.84l32.07-57.86l9.63-17.33l22.53,75.1L568.37,490.62z
                                                M612.09,451.07l-16.21-54.12l16.42-7.57L612.09,451.07z"/>
                                        </g>
                                </svg>
                                <span class="logo" style="margin-left: -30px;">ragon's Keep</span>
                        </a>
                </article>

                <!--Barre de recherche + button-->
                <article class="col-6">
                        <div class="container-fluid">
                                <div class="row input-group-prepend">
                                        <form class="d-flex" method="POST" action="{{app.request.uri}}">
                                                <input class="form-control" name="search_field" style="width: 950px; height: 35px;" placeholder="Dés, Livres, Accessoires, Couleurs..." type="search">
                                                <div class="input-group-append">
                                                        <button class="btn btn-info btn-recherche" type="submit" style="margin:auto; height: 35px; width:auto" data-toggle="tooltip" data-placement="top" title="Rechercher">
                                                                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                                        </button>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </article>

                <!--3 icons-->
                {% if is_granted("ROLE_ADMIN") %}
                        <article class="col-3">
                                <!-- Panier -->
                                <a href="{{ path('app_panier')}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-nav svg-icon-nav" viewBox="0 0 50 50" height="48" width="48">
                                        <path d="M14.35 43.95q-1.5 0-2.55-1.05-1.05-1.05-1.05-2.55 0-1.5 1.05-2.55 1.05-1.05 2.55-1.05 1.5 0 2.55 1.05 1.05 1.05 1.05 2.55 0 1.5-1.05 2.55-1.05 1.05-2.55 1.05Zm20 0q-1.5 0-2.55-1.05-1.05-1.05-1.05-2.55 0-1.5 1.05-2.55 1.05-1.05 2.55-1.05 1.5 0 2.55 1.05 1.05 1.05 1.05 2.55 0 1.5-1.05 2.55-1.05 1.05-2.55 1.05Zm-22.6-33 5.5 11.4h14.4l6.25-11.4Zm-1.5-3H39.7q1.15 0 1.75 1.05.6 1.05 0 2.1L34.7 23.25q-.55.95-1.425 1.525t-1.925.575H16.2l-2.8 5.2h24.55v3h-24.1q-2.1 0-3.025-1.4-.925-1.4.025-3.15l3.2-5.9L6.45 7h-3.9V4H8.4Zm7 14.4h14.4Z"/>
                                        <title>Panier</title>
                                        </svg>
                                </a>
                                <!-- Compte -->
                                <a href="{{ path('app_profil')}}">
                                        {% if client != null %}
                                                <img src="https://ui-avatars.com/api/?name={{ client.prenom }}+{{ client.nom }}&rounded=true&background=random" alt="">
                                        {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-nav svg-icon-nav" viewBox="0 0 50 50" height="48" width="48"><path d="M11.1 35.25q3.15-2.2 6.25-3.375Q20.45 30.7 24 30.7q3.55 0 6.675 1.175t6.275 3.375q2.2-2.7 3.125-5.45Q41 27.05 41 24q0-7.25-4.875-12.125T24 7q-7.25 0-12.125 4.875T7 24q0 3.05.95 5.8t3.15 5.45ZM24 25.5q-2.9 0-4.875-1.975T17.15 18.65q0-2.9 1.975-4.875T24 11.8q2.9 0 4.875 1.975t1.975 4.875q0 2.9-1.975 4.875T24 25.5ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.775t4.3-6.35q2.725-2.725 6.375-4.3Q19.9 4 24 4q4.15 0 7.775 1.575t6.35 4.3q2.725 2.725 4.3 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.3 6.375-2.725 2.725-6.35 4.3Q28.15 44 24 44Zm0-3q2.75 0 5.375-.8t5.175-2.8q-2.55-1.8-5.2-2.75-2.65-.95-5.35-.95-2.7 0-5.35.95-2.65.95-5.2 2.75 2.55 2 5.175 2.8Q21.25 41 24 41Zm0-18.5q1.7 0 2.775-1.075t1.075-2.775q0-1.7-1.075-2.775T24 14.8q-1.7 0-2.775 1.075T20.15 18.65q0 1.7 1.075 2.775T24 22.5Zm0-3.85Zm0 18.7Z"/>
                                        <title>Profil</title>
                                        </svg>
                                        {% endif %}
                                </a>
                                <!-- Informations -->
                                <a href="{{ path('app_contacts')}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-nav svg-icon-nav" viewBox="0 0 50 50" height="48" width="48">
                                                <path d="M24.2 35.65q.8 0 1.35-.55t.55-1.35q0-.8-.55-1.35t-1.35-.55q-.8 0-1.35.55t-.55 1.35q0 .8.55 1.35t1.35.55Zm-1.75-7.3h2.95q0-1.3.325-2.375T27.75 23.5q1.55-1.3 2.2-2.55.65-1.25.65-2.75 0-2.65-1.725-4.25t-4.575-1.6q-2.45 0-4.325 1.225T17.25 16.95l2.65 1q.55-1.4 1.65-2.175 1.1-.775 2.6-.775 1.7 0 2.75.925t1.05 2.375q0 1.1-.65 2.075-.65.975-1.9 2.025-1.5 1.3-2.225 2.575-.725 1.275-.725 3.375ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"/>
                                                <title>Informations</title>
                                        </svg>
                                </a>
                                <!-- Admin -->
                                <a href="{{ path('app_admin')}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-nav svg-icon-nav" viewBox="170 70 1000 1000" height="48" width="48">
                                                <path d="M690.882 786q25.883 0 44-19Q753 748 753 722.118q0-25.883-18.118-44-18.117-18.118-44-18.118Q665 660 646 678.118q-19 18.117-19 44Q627 748 646 767q19 19 44.882 19ZM689.5 911q33.5 0 60.5-14t46-40q-26-14-51.962-21-25.961-7-54-7-28.038 0-54.538 7-26.5 7-51.5 21 19 26 45.5 40t60 14ZM480 976q-138-32-229-156.5T160 534V295l320-120 320 120v270q-14-7-30-12.5t-30-7.5V337l-260-96-260 96v197q0 76 24.5 140T307 786.5q38 48.5 84 80.5t89 46q6 12 18 27t20 23q-9 5-19 7.5t-19 5.5Zm212.5 0Q615 976 560 920.5T505 789q0-78.435 54.99-133.718Q614.98 600 693 600q77 0 132.5 55.282Q881 710.565 881 789q0 76-55.5 131.5t-133 55.5ZM480 577Z"/>
                                                <title>Admin</title>
                                        </svg>
                                </a>
                        </article>
                {% else %}
                        <article class="col-3">
                                <!-- Panier -->
                                <a href="{{ path('app_panier')}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-nav svg-icon-nav" viewBox="0 0 50 50" height="48" width="48">
                                        <path d="M14.35 43.95q-1.5 0-2.55-1.05-1.05-1.05-1.05-2.55 0-1.5 1.05-2.55 1.05-1.05 2.55-1.05 1.5 0 2.55 1.05 1.05 1.05 1.05 2.55 0 1.5-1.05 2.55-1.05 1.05-2.55 1.05Zm20 0q-1.5 0-2.55-1.05-1.05-1.05-1.05-2.55 0-1.5 1.05-2.55 1.05-1.05 2.55-1.05 1.5 0 2.55 1.05 1.05 1.05 1.05 2.55 0 1.5-1.05 2.55-1.05 1.05-2.55 1.05Zm-22.6-33 5.5 11.4h14.4l6.25-11.4Zm-1.5-3H39.7q1.15 0 1.75 1.05.6 1.05 0 2.1L34.7 23.25q-.55.95-1.425 1.525t-1.925.575H16.2l-2.8 5.2h24.55v3h-24.1q-2.1 0-3.025-1.4-.925-1.4.025-3.15l3.2-5.9L6.45 7h-3.9V4H8.4Zm7 14.4h14.4Z"/>
                                        <title>Panier</title>
                                        </svg>
                                </a>
                                <!-- Compte -->
                                <a href="{{ path('app_profil')}}">
                                        {% if client != null %}
                                                <img src="https://ui-avatars.com/api/?name={{ client.prenom }}+{{ client.nom }}&rounded=true&background=random" alt="">
                                        {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-nav svg-icon-nav" viewBox="0 0 50 50" height="48" width="48"><path d="M11.1 35.25q3.15-2.2 6.25-3.375Q20.45 30.7 24 30.7q3.55 0 6.675 1.175t6.275 3.375q2.2-2.7 3.125-5.45Q41 27.05 41 24q0-7.25-4.875-12.125T24 7q-7.25 0-12.125 4.875T7 24q0 3.05.95 5.8t3.15 5.45ZM24 25.5q-2.9 0-4.875-1.975T17.15 18.65q0-2.9 1.975-4.875T24 11.8q2.9 0 4.875 1.975t1.975 4.875q0 2.9-1.975 4.875T24 25.5ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.775t4.3-6.35q2.725-2.725 6.375-4.3Q19.9 4 24 4q4.15 0 7.775 1.575t6.35 4.3q2.725 2.725 4.3 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.3 6.375-2.725 2.725-6.35 4.3Q28.15 44 24 44Zm0-3q2.75 0 5.375-.8t5.175-2.8q-2.55-1.8-5.2-2.75-2.65-.95-5.35-.95-2.7 0-5.35.95-2.65.95-5.2 2.75 2.55 2 5.175 2.8Q21.25 41 24 41Zm0-18.5q1.7 0 2.775-1.075t1.075-2.775q0-1.7-1.075-2.775T24 14.8q-1.7 0-2.775 1.075T20.15 18.65q0 1.7 1.075 2.775T24 22.5Zm0-3.85Zm0 18.7Z"/>
                                        <title>Profil</title>
                                        </svg>
                                        {% endif %}
                                </a>
                                <!-- Informations -->
                                <a href="{{ path('app_contacts')}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-nav svg-icon-nav" viewBox="0 0 50 50" height="48" width="48"><path d="M24.2 35.65q.8 0 1.35-.55t.55-1.35q0-.8-.55-1.35t-1.35-.55q-.8 0-1.35.55t-.55 1.35q0 .8.55 1.35t1.35.55Zm-1.75-7.3h2.95q0-1.3.325-2.375T27.75 23.5q1.55-1.3 2.2-2.55.65-1.25.65-2.75 0-2.65-1.725-4.25t-4.575-1.6q-2.45 0-4.325 1.225T17.25 16.95l2.65 1q.55-1.4 1.65-2.175 1.1-.775 2.6-.775 1.7 0 2.75.925t1.05 2.375q0 1.1-.65 2.075-.65.975-1.9 2.025-1.5 1.3-2.225 2.575-.725 1.275-.725 3.375ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24q0-4.15 1.575-7.8 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24 4q4.15 0 7.8 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm0-3q7.1 0 12.05-4.975Q41 31.05 41 24q0-7.1-4.95-12.05Q31.1 7 24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24 41Zm0-17Z"/>
                                        <title>Informations</title>
                                        </svg>
                                </a>
                        </article>
                {% endif %}
        </header>
</nav>

{% block javascripts %}
	<script src="https://kit.fontawesome.com/37c5a17803.js" crossorigin="anonymous"></script>
{% endblock %}