{% extends 'core/base.html.twig' %}

{% block content %}
    <div class="center">

        <div class="row" style="text-align:center; margin-left: auto; margin-right: auto;">
            {% for flash in app.flashes('notification') %}
                <div class="alert center {{ flash.color }}">{{ flash.content }}</div>
            {% endfor %}
        </div>
        

        <form action="{{ path('app_connexion') }}" method="post">
            <input type="text" class="form-control input-connexion" placeholder="email" id="username" name="_username" value="{{ dernierUtilisateur }}">

            <input type="password" class="form-control input-connexion" placeholder="mot de passe" id="password" name="_password">

            <div class="center row">
                <button type="submit" class="btn btn-primary btn-connexion">Connexion</button>
                <button type="button" onclick="window.location.href='{{ path('app_inscription') }}';" class="btn btn-primary btn-connexion">Inscription</button>
            </div>

            {# If you want to control the URL the user is redirected to on success #}
            <input type="hidden" name="_target_path" value="{{ path('app_profil') }}"> 
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/connexion.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet">
{% endblock %}