{% extends 'core/base.html.twig' %}

{% block content %}
    <div>
        <a href="{{ path('app_commandes')}}">
            <button class="btn btn-info" style="top:0; left:0; margin-top:-50px;">Commandes</button>
        </a>
    </div>

    <div class="row mx-auto" style="background-color: white; width:950px">

        <article class="row">
            <h4 class="card-title text-center col-6" style="color: black;">No. Commande: </h4>
            <h4 class="card-text text-center col-6" style="color: black;">{{commande.idCommande}}</h4>
        </article>
        <hr style="color: black;">
        <article class="row">
            <h4 class="card-title text-center col-6" style="color: black;">État de la commande: </h4>
            <h4 class="card-text text-center col-6" style="color: black;">{{commande.etat}}</h4>
        </article>
        <hr style="color: black;">
        <article class="row">
            <h4 class="card-title text-center col-6" style="color: black;">Date de la commande: </h4>
            <h4 class="card-text text-center col-6" style="color: black;">{{commande.dateCommande|date}}</h4>
        </article>
        <hr style="color: black;">
        <article class="row">
            <h4 class="card-title text-center col-6" style="color: black;">Date de la livraison: </h4>
            <h4 class="card-text text-center col-6" style="color: black;">N/A</h4>
        </article>
        <hr style="color: black;">
        <article class="row">
            <h4 class="card-title text-center col-6" style="color: black;">Informations comptables: </h4>
            <h4 class="card-text text-center col-6" style="color: black;">
                <span>Sous-Total: </span>{{commande.calculerSousTotal()|number_format(2)}}$
                <br>
                <span>Frais De Livraison: </span> {{commande.fraisLivraison()|number_format(2)}}$
                <br>
                <span>Grand Total: </span> {{commande.calculerPrixTotal()|number_format(2)}}$
            </h4>
        </article>
        <hr style="color: black;">
        <article class="row">
            <h4 class="card-title text-center col-6" style="color: black;">Adresse de livraison: </h4>
            <h4 class="card-text text-center col-6" style="color: black;">
                {{client.adresse}}
                <br>
                {{client.ville}} {{client.province}} {{client.codePostal}}
            </h4>
        </article>
        <hr style="color: black;">
        <article class="row">
            <h4 class="card-title text-center col-6" style="color: black;">Items de la commande: </h4>
            <h4 class="card-text text-center col-6" style="color: black;">
                {% for achat in commande.getAchats() %}
                    <a class="click-modal link-primary" href="{{ path('produit_modal', { idProduit:achat.getProduit().idProduit })}}">
                        {{achat.getProduit().getNom()}}
                    </a>
                    x{{achat.getQuantite()}}
                    <br>
                {% endfor %}
            </h4>
        </article>
    </div>

    <!--Zone pour le modal-->
	<div class="modal fade" tabindex="-1" id="produit-modal">
		<div class="modal-dialog">
			<div id="produit-modal-content" class="modal-content">
			</div>
		</div>
	</div>
{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/catalogue.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/detailCommande.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('scripts/modal.produit.js') }}"></script>
{% endblock %}